<div class="container">
    <h1 class="heading">About Page</h1>
    
    <p class="about-text">
    For individual working professionals like electricians, painters, makeup artists, etc online 
    advertisement or maintaining their website is not affordable.
    And also for a person, finding the best working professional according to their need is a very time-consuming task.
    Short-Term-Hire is a website that provides a common platform for a person who wants to hire a working 
    professional and a working professional who want to 
    get hired for a short-term job.
    In short on our website, a person can search/hire Working Professionals according to their needs for a short-term job.
    </p>

    <hr>
        <img src="http://127.0.0.1:8000/media/logo/Amol Logo2.jpg" class="logo-img">
    <hr>

    <div>
        <a href="https://www.linkedin.com/in/amol-gode-26ba8321a/" target="_blank"> <i class="fa fa-linkedin social-media-links" aria-hidden="true"></i> </a>
        <a href="#"> <i class="fa fa-youtube social-media-links" aria-hidden="true"></i> </a>
        <a href="#"> <i class="fa fa-facebook-official social-media-links" aria-hidden="true"></i> </a>
        <a href="#"> <i class="fa fa-twitter-square social-media-links" aria-hidden="true"></i> </a>
        <a href="mailto:17amolgode@gmail.com"> <i class="fa fa-google-plus-square social-media-links" aria-hidden="true"></i> </a>
    </div>
</div>