<div class="form-container mat-elevation-z5">
    <h1 class="text-center header">Password Reset</h1>
    <h4 class="center margin-bottom">You will receive an OTP on your registered email id (Only if the email is verified)..!</h4>
    <form [formGroup]="forgotPasswordForm">
        <div *ngIf="!OTP_is_Verified">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email"
                    required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            
            <div class="center margin-bottom">
                <button mat-raised-button color="primary" (click)="send_otp()" type="button" *ngIf="!send_otp_btn_loding" [disabled]="email.invalid">
                    Send OTP
                </button>
                <button class="btn btn-primary" type="button" disabled *ngIf="send_otp_btn_loding">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>OTP</mat-label>
                <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" [formControl]="otpFormControl">
                <mat-hint align="start">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>

            <div class="center">
                <button mat-raised-button color="primary" (click)="verify_otp()" type="button" *ngIf="!verify_otp_btn_loding" [disabled]="postalCode.value.length != 5">
                    Verify OTP
                </button>
                <button class="btn btn-primary" type="button" disabled *ngIf="verify_otp_btn_loding">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>

        </div>

        <div class="margint-top" *ngIf="OTP_is_Verified">
            <mat-form-field>
                <mat-label>Enter new password</mat-label>
                <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">Password is to short.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Reenter new password</mat-label>
                <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirm_password">
                <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password.invalid">Password is to short.</mat-error>
            </mat-form-field>

            <div class="center margin-top">
                <button mat-raised-button color="primary" type="button" (click)="change_password()" *ngIf="!reset_password_btn_loding" [disabled]="password.value !== confirm_password.value">
                    Reset Password
                </button>
                <button class="btn btn-primary" type="button" disabled *ngIf="reset_password_btn_loding">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>

        <span class="center margin-top">New to our platform? <a class="sign-up-link" routerLink="/signup">SignUp!</a></span>

    </form>